<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/cover.css}" rel="stylesheet">
    <link th:href="@{/css/backgrounds.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/homePage.css}" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <h3 class="masthead-brand">Lyrics Search</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/home">Home</a>
        </nav>
    </header>
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Sorry, you don't have permission to view this page</h1>
        <p class="lead">Return to the main menu</p>
        <p class="lead">
            <a href="/home" class="btn btn-lg btn-secondary">Back to the main</a>
        </p>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Lyrics search for <a href="http://geekhub.ck.ua">Geekhub</a>, by <a
                href="">Ivan Dulskyi</a>.</p>
        </div>
    </footer>
</div>
</body>
</html>